<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pierre's Sweets</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>

  <div class="container">
    <h1 id="main-heading">Pierre's Sweet and Savory Treats</h1>
    <div class="card" id="main-page">
      <div class="card inner-contents">
        @RenderBody()
      </div>
      <footer>
        <div id="footer">@Html.ActionLink("~ Pierre's Sweet and Savory Treats ~", "Index", "Home")</div>
      </footer>
    </div>
  </div>
</body>

</html>