@{
  Layout = "_Layout";
}

@model PierresSweets.Models.Treat

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.TreatName)?</h2>

@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}
@Html.ActionLink("Back to All Treats", "Index")