@{
  Layout = "_Layout";
}

@using PierresSweets.Models;
@model IEnumerable<PierresSweets.Models.Treat>

<h1>All Treats</h1>

@if (Model.Any())
{
  @foreach (Treat treat in Model)
  {
    <p class="card treat-card">@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</p>
  }
}
else
{
  <h3>No treats have been added yet</h3>
}

<div class="button-group">
  <p>@Html.ActionLink("Add New Treat", "Create","Treats", null, new { @class = "btn btn-dark"})</p>
</div>