@{
  Layout = "_Layout";
}

@model PierresSweets.Models.Flavor

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName, new { @class = "form-control"})
  <input type="submit" value="Add New Flavor" class="btn btn-success mt-5" />
}
<p>@Html.ActionLink("< Back to All Flavors", "Index", "Flavors", null, new { @class = "btn btn-dark mt-5"})</p>