@{
  Layout = "_Layout";
}

<h1>Pierre's Sweet and Savory Treats</h1>
<p>@Html.ActionLink("View All Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("View All Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create An Account Or Log In", "Index", "Account")</p>
<p>@Html.ActionLink("See My Fvorites", "Favorites", "Treats")</p>